<!DOCTYPE html>
<html lang="pt-BR">

<%- include('includes/head') %>

<body  class="w3-light-grey">

    <%- include('includes/navbar') %>    
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">
    
        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
        </header>
    
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-third">
                <div class="w3-container w3-teal w3-padding-16">
                    <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>--</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Receita</h4>
                </div>
            </div>
            <div class="w3-third">
                <div class="w3-container w3-red w3-padding-16">
                    <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>--</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Despesa</h4>
                </div>
            </div>
            <div class="w3-third">
                <div class="w3-container w3-blue w3-padding-16">
                    <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
                    <div class="w3-right">
                        <h3>--</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>Saldo</h4>
                </div>
            </div>
            
        
        </div>
    
    
        <div class="w3-container">
            <h5>Transações</h5>
            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                <tr>
                    <td><i class="fa fa-plus"></i></td>
                    <td>Salário</td>
                    <td>128,1</td>
                </tr>
                <tr>
                    <td><i class="fa fa-minus"></i></td>
                    <td>Compra de material</td>
                    <td>239,2</td>
                </tr>
            </table><br>
            <button class="w3-button w3-dark-grey">Mais transações  <i class="fa fa-arrow-right"></i></button>
        </div>
        <hr>
    

    <%- include('includes/footer') %>

</div>
</body>

</html>